@model Assignment_NET104.Areas.Admin.Models.LoginModel;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Watch shop | eCommers</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">

    <!-- page css -->

    <!-- Core css -->
    <link href="~/Adminassets/css/app.min.css" rel="stylesheet">

</head>

<body>
    <div class="app">
        <div class="container-fluid p-h-0 p-v-20 bg full-height d-flex" style="background-image: url('~/Adminassets/images/others/login-3.png')">
            <div class="d-flex flex-column justify-content-between w-100">
                <div class="container d-flex h-100">
                    <div class="row align-items-center w-100">
                        <div class="col-md-7 col-lg-5 m-h-auto">
                            <div class="card shadow-lg">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between m-b-30">
                                        <img class="img-fluid" alt="" src="~/assets/img/logo/logo.png">
                                        <h2 class="m-b-0">Sign In</h2>
                                    </div>
                                    @using (Html.BeginForm("DangNhap", "Home", FormMethod.Post))
                                    {

                                        @Html.ValidationSummary(false,"", new{@class="text-danger"})
                                     <label  class="sr-only">Tài khoản</label>
                                    @Html.TextBoxFor(m => m.TenDangNhap, new { @class = "form-control", placeholder = "Tên đăng nhập", required = "required", autofocus = "autofocus" })
                                    <label for="inputPassword" class="sr-only">Mật khẩu</label>
                                    @Html.PasswordFor(m => m.MatKhau, new { @class = "form-control", placeholder = "Mật khẩu", required = "required" })
                                     <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" value="remember-me"> Ghi nhớ đăng nhập
                                    </label>
                                    </div>
                                     <button class="btn btn-lg btn-primary btn-block" type="submit">Đăng nhập</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-flex p-h-40 justify-content-between">
                    <span class="">© 2019 ThemeNate</span>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="text-dark text-link" href="">Legal</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-dark text-link" href="">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Core Vendors JS -->
    <script src="~/Adminassets/js/vendors.min.js"></script>

    <!-- page js -->

    <!-- Core JS -->
    <script src="~/Adminassets/js/app.min.js"></script>

</body>

</html>