<div class="side-nav">
                <div class="side-nav-inner">
                    <ul class="side-nav-menu scrollable">
                       @* Quản lý đơn hàng*@
                        <li class="nav-item dropdown open">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                 <a asp-area="Admin" asp-controller="HoaDonChiTiet" asp-action="Index">
                                <span class="icon-holder">
                                    <i class="anticon anticon-dashboard"></i>
                                </span>
                               
                                    <span class="title">Quản lý đơn hàng</span>
                                </a> 
                                    
                            </a>
                            
                        </li>
                       @* quan lý san pham*@
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="anticon anticon-appstore"></i>
                                </span>
                                <span class="title">Quản lý sản phẩm</span>
                                  <span class="arrow">
                                    <i class="arrow-icon"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a asp-area="Admin" asp-controller="SanPham" asp-action="Index">Sản Phẩm</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="ThuongHieu" asp-action="Index">Thương Hiệu</a>
                                </li>
                                <li>
                                    <a hasp-area="Admin" asp-controller="SuatXu" asp-action="Index">Xuất Sứ</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="LoaiMay" asp-action="Index">Loại Máy</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="Nsxes" asp-action="Index">Nhà Sản Xuất</a>
                                </li>
                            </ul>
                        </li>
                       @* Quản lý Hệ thống*@
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
									<i class="anticon anticon-build"></i>
								</span>
                                <span class="title">Quản lý Hệ thống</span>
                                <span class="arrow">
									<i class="arrow-icon"></i>
								</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a asp-area="Admin" asp-controller="NguoiDungs" asp-action="Index">Quản lý tài khoản</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="VaiTroes" asp-action="Index">Quản lý quyền truy cập</a>
                                </li>
                                <li>
                                    <a href="badge.html">Quản lý danh mục</a>
                                </li>
                                <li>
                                    <a href="buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="cards.html">Cards</a>
                                </li>
                                <li>
                                    <a href="icons.html">Icons</a>
                                </li>
                                <li>
                                    <a href="lists.html">Lists</a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="anticon anticon-form"></i>
                                </span>
                                <span class="title">Forms</span>
                                <span class="arrow">
                                    <i class="arrow-icon"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="form-elements.html">Form Elements</a>
                                </li>
                                <li>
                                    <a href="form-layouts.html">Form Layouts</a>
                                </li>
                                <li>
                                    <a href="form-validation.html">Form Validation</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="anticon anticon-table"></i>
                                </span>
                                <span class="title">Tables</span>
                                <span class="arrow">
                                    <i class="arrow-icon"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="basic-table.html">Basic Table</a>
                                </li>
                                <li>
                                    <a href="data-table.html">Data Table</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="anticon anticon-pie-chart"></i>
                                </span>
                                <span class="title">Charts</span>
                                <span class="arrow">
                                    <i class="arrow-icon"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="chartist.html">Chartist</a>
                                </li>
                                <li>
                                    <a href="chartjs.html">ChartJs</a>
                                </li>
                            </ul>
                        </li>
                       @* Quản lý Pages*@
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="anticon anticon-file"></i>
                                </span>
                                <span class="title">Pages</span>
                                <span class="arrow">
                                    <i class="arrow-icon"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a   asp-area="Admin" asp-controller="HomeAdmin" asp-action="DangNhap">>LOgin</a>
                                </li>
                                <li>
                                    <a href="invoice.html">Invoice</a>
                                </li>
                                <li>
                                    <a href="members.html">Members</a>
                                </li>
                                <li>
                                    <a href="pricing.html">Pricing</a>
                                </li>
                                <li>
                                    <a href="setting.html">Setting</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="javascript:void(0);">
                                        <span>Blog</span>
                                        <span class="arrow">
                                            <i class="arrow-icon"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="blog-grid.html">Blog Grid</a>
                                        </li>
                                        <li>
                                            <a href="blog-list.html">Blog List</a>
                                        </li>
                                        <li>
                                            <a href="blog-post.html">Blog Post</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="anticon anticon-lock"></i>
                                </span>
                                <span class="title">Authentication</span>
                                <span class="arrow">
                                    <i class="arrow-icon"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="login-1.html">Login 1</a>
                                </li>
                                <li>
                                    <a href="login-2.html">Login 2</a>
                                </li>
                                <li>
                                    <a href="login-3.html">Login 3</a>
                                </li>
                                <li>
                                    <a href="sign-up-1.html">Sign Up 1</a>
                                </li>
                                <li>
                                    <a href="sign-up-2.html">Sign Up 2</a>
                                </li>
                                <li>
                                    <a href="sign-up-3.html">Sign Up 3</a>
                                </li>
                                <li>
                                    <a href="error-1.html">Error 1</a>
                                </li>
                                <li>
                                    <a href="error-2.html">Error 2</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>