@{
    ViewData["Title"] = "Home Page";
}
@{
   Layout = "~/Views/Shared/_layout1.cshtml";
   List<SanPham> listSanPham = ViewBag.listSanPham;
}


 <main>
        <!--? slider Area Start -->
        <div class="slider-area ">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center slide-bg">
                    <div class="container">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="4000ms">ĐẲNG CẤP TẠO NÊN THƯƠNG HIỆU</h1>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
                                        <a href="industries.html" class="btn hero-btn">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                                <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                    <img src="~/assets/img/hero/watch.png" alt="" class=" heartbeat">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center slide-bg">
                    <div class="container">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Select Your New Perfect Style</h1>
                                    <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat is aute irure.</p>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
                                        <a href="industries.html" class="btn hero-btn">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                                <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                    <img src="~/assets/img/hero/watch.png" alt="" class=" heartbeat">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- ? New Product Start -->
        <section class="new-product-area section-padding30">
            <div class="container">
                <!-- Section tittle -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-tittle mb-70">
                            <h2>Những bộ sưu tập nổi bật</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-new-pro mb-30 text-center">
                            <div class="product-img">
                               <img src="~/assets/img/gallery/seiko-style-60s-banner.webp">
                            </div>
                            <div class="product-caption">
                                <h3><a href="product_details.html">SEIKO PRESAGE STYLE 60S – VẺ ĐẸP CỔ ĐIỂN CUỐN HÚT</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-new-pro mb-30 text-center">
                            <div class="product-img">
                                <img src="~/assets/img/gallery/bst-tissot-prx.webp" alt="">
                            </div>
                            <div class="product-caption">
                                <h3><a href="product_details.html">TISSOT PRX – THIẾT KẾ RETRO NGUỒN CẢM TỪ THẬP NIÊN 70</a></h3>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-new-pro mb-30 text-center">
                            <div class="product-img">
                                <img src="~/assets/img/gallery/bst-daniel-wellington-iconic-link.webp" alt="">
                            </div>
                            <div class="product-caption">
                                <h3><a href="product_details.html"></a>Daniel WELLINGTON – THIẾT KẾ RETRO NGUỒN CẢM TỪ THẬP NIÊN 70</h3>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  New Product End -->
        <!--? Popular Items Start -->
        <div class="popular-items section-padding30">
            <div class="container">
                <!-- Section tittle -->
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8 col-md-10">
                        <div class="section-tittle mb-70 text-center">
                            <h2>Sản phẩm nổi bật</h2>
                            <p>Những sản phẫm mới nhất</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                @foreach(var sp in listSanPham) 
                            {    
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-popular-items mb-50 text-center ">
                                    <div class="popular-img">
                                       <a asp-controller="Product" asp-action="SanPhamDetails" asp-route-id="@sp.Id">
                                        <img src="~/images/@sp.HinhAnh" alt="" width="360" height="370"></a>
                                        <div class="img-cap" enctype="multipart/form-data">
                                           <a href="@Url.Action("Create", "Cart", new { idProduct = sp.Id, idUser = Guid.Parse("98513859-0014-4b2c-1346-08db3dbf0574") })"><span>Thêm vào giỏ hàng</span></a>
                                        </div>
                                        <div class="favorit-items">
                                            <span class="flaticon-heart"></span>
                                        </div>
                                    </div>
                                    <div class="popular-caption">
                                        <a class="asp-controller="Product" asp-action="SanPhamDetails"><h3>@sp.TenSp </h3></a>
                                        <span>@sp.FormatNumber(sp.GiaSanPham)₫</span>
                                    </div>
                                </div>
                            </div>
                            }
                   
                </div>
                <!-- Button -->
                <div class="row justify-content-center">
                    <div class="room-btn pt-70">
                        <a href="catagori.html" class="btn view-btn1">Xem Thêm</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Popular Items End -->
        <!--? Watch Choice  Start-->
        <div class="watch-area section-padding30">
            <div class="container">
                <div class="row align-items-center justify-content-between padding-130">
                    <div class="col-lg-5 col-md-6">
                        <div class="watch-details mb-40">
                            <h2>Có thể quan tâm</h2>
                            <h3>DOXA EXECUTIVE D221RSV – NỮ – KÍNH SAPPHIRE – AUTOMATIC (TỰ ĐỘNG) – MẶT SỐ 31 MM, ĐÍNH 14 VIÊN KIM CƯƠNG, TRỮ CÓT 38 GIỜ</h3>
                            <p>Ẩn bên dưới mặt kính Sapphire với nền mặt số được gia công tinh xảo đính các viên kim cương tạo nên phụ kiện thời trang sang trọng dành cho phái đẹp với phiên bản Doxa D221RSV.</p>
                            <a href="shop.html" class="btn">Đến xém</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-10">
                        <div class="choice-watch-img mb-40">
                            <img src="~/assets/img/gallery/18_D221RSV-699x699.webp" alt="">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-6 col-sm-10">
                        <div class="choice-watch-img mb-40">
                            <img src="~/assets/img/gallery/AN8195-58E.webp" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="watch-details mb-40">
                            <h2>Có thể quan tâm</h2>
                            <h3>CITIZEN AN8195-58E – NAM – QUARTZ (PIN) – MẶT SỐ 42MM, KÍNH CỨNG, CHỐNG NƯỚC 10ATM</h3>
                            <p>Từ lâu Citizen trở thành thương hiệu đồng hồ quốc dân với chất lượng tuyệt vời, thiết kế sang trọng. Đồng hồ Citizen AN8195-58E là một trong những sản phẩm gây chú ý bởi thiết kế tinh tế và đơn giản. Cùng tìm hiểu tại sao mẫu đồng hồ được ưa chuộng nhé.</p>
                            <a href="shop.html" class="btn">Đến xem</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Watch Choice  End-->
        <!--? Shop Method Start-->
        <div class="shop-method-area">
            <div class="container">
                <div class="method-wrapper">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-package"></i>
                                <h6>Free Shipping Method</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-unlock"></i>
                                <h6>Secure Payment System</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div> 
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-reload"></i>
                                <h6>Secure Payment System</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Method End-->
    </main>