@model Assignment_NET104.Models.ThuongHieu

@{
    ViewData["Title"] = "Edit"+Model.TenThuongHieu;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
     <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
           <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
           <a class="breadcrumb-item" href="#">Quản lý Sản Phẩm</a>
           <a class="breadcrumb-item" href="#">Thương hiệu</a>
           <span class="breadcrumb-item active">Chỉnh Sửa Thương hiệu</span>
        </nav>
     </div>
</div>
<div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TenThuongHieu" class="control-label"></label>
                <input asp-for="TenThuongHieu" class="form-control" />
                <span asp-validation-for="TenThuongHieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
   <a class="btn btn-warning btn-tone m-r-5" asp-action="Index">Back to List</a>
</div>

